html {
    margin: 0;
}

span {
    display: block;
}

nav {
    height: auto;

    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;

}

a {
    border: 1px solid black;
    padding: 1.1rem 2.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: rgb(240, 233, 233);
    margin-bottom: 1.2rem;
}

a:hover {
    background-color: rgb(243, 241, 241);
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;

    border: 2px solid black;
    display: inline-block;

}

#grey {
    background-color: grey;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}